* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid #008080;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;
  gap: 15px;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-250px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.page {
  padding: 10px 15px;
  margin: 0 10px 20px 0;
  border: 1px solid teal;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s ease 0s;
}

.page:hover {
  background-color: teal;
  color: #fff;
  transform: translateY(-5px);
}
.page__current {
  border: 2px solid #fff;
  background-color: teal;
  color: #fff;
  font-weight: 900;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: lightblue;
}

.navbar__links {
  margin-left: auto;
}
