.myBtn {
  padding: 5px 15px;
  color: teal;
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  border: 2px solid teal;
  cursor: pointer;
}

.myBtn:hover,
.myBtn:focus {
  background-color: teal;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.myBtn:active {
  color: teal;
  transition: all 0.5s ease 0s;
}
